@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.space {
  padding-left: 3%;
  padding-right: 3%;
  max-width: 1313px;
}

.homebg {
  background-color: #313131;
  background-image: url(../../public/media/bg-home.png);
  background-repeat: no-repeat;
  background-position: 90% -25%;
  padding-top: 80px;
  display: grid;
}

.button {
  box-shadow: 0 5px 0 #7E4BBF;
}

.button:active {
  box-shadow: none;
  transform: translateY(5px);
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -112px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 112px; 
}
